@font-face{
    font-family: poppins-semiBold;
    src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face{
    font-family: poppins-Thin;
    src: url(./fonts/Poppins-Thin.ttf);
}
    
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    
   
    
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: centers;
 
    

    
}


.navbar{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #17224D;
    z-index: 4;
    
}

.logo-section{
    width: 10%;
   
}

.logo-section h1{
    color: #ffffff;
    cursor: pointer;
    margin-left: 10em;

}

.links-section{
    width: 80%;
    text-align: center;
    margin-left: 20em;
    
    
}

.links-section a{
    text-decoration: none;
    padding: 14px 45px;
    font-size: 1rem;
    font-family: poppins-Bold;
    color: #ffffff;
}

input[type="search"] {
    background-color: #17224D;
    width: 20rem;
    height: 3rem;
    font-family: poppins-semiBold;
    padding: 1em;
    margin-top: 1rem;
    border: none;
    color: #ffffff;
    font-size: 1rem;
}


input[type="submit"] {
    width: 8rem;
    height: 3rem;
    font-family: poppins-semiBold;
    color: #ffffff;
    background-color: #17224D;
    margin-left: 2rem;
    cursor: pointer;
}

.eulogy-card{
    background-color: #17224D;
    width: 62rem;
    height: 12rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3srem 1rem;
}

.avatar img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 2rem;
    object-fit: cover;
}

.details-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
}

.details-div h1{
    color: #ffffff;
    font-family: poppins-Bold;
    font-size: 1.2rem;
    margin: 0;
}

.details-div h2{
    color: #ffffff;
    font-family: poppins-Thin;
    font-size: 1rem;
    
}

.details-div h3{
    color: #ffffff;
    font-family: poppins-Thin;
    margin: 0;
    font-size: 1rem;
    
}